* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("tree.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255, 255, 1);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 270px;
    /* -webkit-backdrop-filter: blur(3.4px); */
}

h1 {
    color: white;
    text-shadow: 0 0 3px black;
}

h2 {
    font-size: 50px;

}

button {
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    color: white;
    font-weight: lighter;
    width: 200px;
}

#increment-btn {
    background: #FF7518;
}

#save-btn {
    background: #5c7f09;
}

#save-el {
    font-weight: bold;
    color: white;
    text-shadow: 0 0 3px black;
}

